.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.primary-font-color {
  color: #005B8B
}

.secondary-font-color {
  color: #70BBEA
}

.red-btn-color {
  background-color: #C40F0F !important;
  border-color: #C40F0F !important;
}

.primary-bg-color {
  background-color: #005B8B !important;
  border-color: #005B8B !important;
}

