.App {
  text-align: center;
  margin: auto;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

.primary-font-color {
  color: #005B8B
}

.secondary-font-color {
  color: #70BBEA
}

.red-btn-color {
  background-color: #C40F0F !important;
  border-color: #C40F0F !important;
}

.primary-bg-color {
  background-color: #005B8B !important;
  border-color: #005B8B !important;
}

.background {
  background-image: url("./assets/image_4.png");
}

.wrapper {
  height: 100px;
  width: 100px;
  /* position: relative; */
}


.card_header_1 {
  color:#31373A;
  background-color: #D8D8D8;
  border-radius: 25px;
  font-size: 1rem;
}

.card_body_1 {
  color:#AEAEAE;
  background-color: #F2F2F2;
}

.card_body_2 {
  color:#5E98BB;
  background-color: #EAF5FC;
}


.card_header_2 {
  color:#30739E;
  background-color: #A5CFEA;
  border-radius: 25px;
  font-size: 1rem;
  max-height: 4rem;
}

.background_2 {
  background-image: url("./assets/image_7.jpg");
}

.team_background {
  background-color: #005B8B;
  color: white;
  display: inline-block;
  text-align: left;
  min-width: 100vw;
}

.footer_background {
  background-color: #EAF5FC;
  color: black;
  display: inline-block;
  text-align: left;
  min-width: 100vw;
  padding-top: 5rem;
}

.circle {
  width: 5.8rem;
  height: 5.8rem;
  line-height: 5.8rem;
  border-radius: 50%;
  color: #005B8B;
  text-align: center;
  background: #fff;
  font-size: 55px;
  z-index: auto;
  
}

.text {
  text-align: left;
  color: #005B8B;
  margin: 0;
  text-align: left;
  white-space: nowrap;
  margin-top: -2em;
  z-index: 5;
}

.text p {
  text-align: left;
  height: 100%;
  line-height: 1;
  padding: 0;
  text-align: center;
}

.border-rad-25 {
  border-radius: 25px !important;
}

.hero_bg {
  background: #F4FBFF;
  /* background: #31373A; */

  width: 380px;   
  height: 480px; 
  border-bottom-left-radius: 70% 50%;
  border-bottom-right-radius: 70% 50%;
  border-top-left-radius: 70% 50%;
  border-top-right-radius: 70% 50%;

  position: relative;
  top: 0rem;
  right: 2em;
  z-index:-1;
  clear: both; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  height: 100%;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* .item1 {
  grid-column-start: 1;
  grid-column-end: 3;
} */